@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9fc;
  --foreground: #333333;
  --primary: #17a2b8;
  --primary-hover: #138496;
  --secondary: #6c757d;
  --secondary-hover: #5a6268;
  --danger: #dc3545;
  --danger-hover: #bd2130;
  --accent: #563d7c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #eeeeee;
    --primary: #17a2b8;
    --primary-hover: #138496;
    --secondary: #6c757d;
    --secondary-hover: #5a6268;
    --danger: #dc3545;
    --danger-hover: #bd2130;
    --accent: #563d7c;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
